{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@ava/stage-4"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ],
  "sourceMaps": true
}
